[href="https://www.facebook.com/"]:hover
{
  color: red;
  font-size: 30px;
}

[href="https://www.facebook.com/"]:link
{
  color: black;
}

[href="https://www.facebook.com/"]:visited
{
  color: blue;
}
